{
 "kind": "discovery#restDescription",
 "etag": "\"bRFOOrZKfO9LweMbPqu0kcu6De8/yEGnz7qJE4H0ncVA8l2NAK4qges\"",
 "discoveryVersion": "v1",
 "id": "dataproc:v1alpha1",
 "name": "dataproc",
 "version": "v1alpha1",
 "revision": "20160219",
 "title": "Google Cloud Dataproc API",
 "description": "An API for managing Hadoop-based clusters and jobs on Google Cloud Platform.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://cloud.google.com/dataproc/",
 "protocol": "rest",
 "baseUrl": "https://dataproc.googleapis.com/",
 "basePath": "",
 "rootUrl": "https://dataproc.googleapis.com/",
 "servicePath": "",
 "batchPath": "batch",
 "parameters": {
  "access_token": {
   "type": "string",
   "description": "OAuth access token.",
   "location": "query"
  },
  "alt": {
   "type": "string",
   "description": "Data format for response.",
   "default": "json",
   "enumDescriptions": [
    "Responses with Content-Type of application/json",
    "Media download with context-dependent Content-Type",
    "Responses with Content-Type of application/x-protobuf"
   ],
   "location": "query"
  },
  "bearer_token": {
   "type": "string",
   "description": "OAuth bearer token.",
   "location": "query"
  },
  "callback": {
   "type": "string",
   "description": "JSONP",
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "pp": {
   "type": "boolean",
   "description": "Pretty-print response.",
   "default": "true",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
   "location": "query"
  },
  "upload_protocol": {
   "type": "string",
   "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
   "location": "query"
  },
  "uploadType": {
   "type": "string",
   "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
   "location": "query"
  },
  "$.xgafv": {
   "type": "string",
   "description": "V1 error format.",
   "enumDescriptions": [
    "v1 error format",
    "v2 error format"
   ],
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    }
   }
  }
 },
 "schemas": {
  "Cluster": {
   "id": "Cluster",
   "type": "object",
   "description": "Describes the identifying information, configuration, and status of a cluster of Google Compute Engine instances.",
   "properties": {
    "projectId": {
     "type": "string",
     "description": "[Required] The Google Cloud Platform project ID that the cluster belongs to."
    },
    "clusterName": {
     "type": "string",
     "description": "[Required] The cluster name. Cluster names within a project must be unique. Names from deleted clusters can be reused."
    },
    "configuration": {
     "$ref": "ClusterConfiguration",
     "description": "[Required] The cluster configuration. It may differ from a user's initial configuration due to Cloud Dataproc setting of default values and updating clusters."
    },
    "status": {
     "$ref": "ClusterStatus",
     "description": "[Output-only] Cluster status."
    },
    "statusHistory": {
     "type": "array",
     "description": "[Output-only] Previous cluster statuses.",
     "items": {
      "$ref": "ClusterStatus"
     }
    },
    "createTime": {
     "type": "string",
     "description": "[Output-only] The timestamp of cluster creation."
    },
    "clusterUuid": {
     "type": "string",
     "description": "[Output-only] A cluster UUID (Unique Universal Identifier). Cloud Dataproc generates this value when it creates the cluster."
    }
   }
  },
  "ClusterConfiguration": {
   "id": "ClusterConfiguration",
   "type": "object",
   "description": "The cluster configuration.",
   "properties": {
    "configurationBucket": {
     "type": "string",
     "description": "[Optional] A Google Cloud Storage staging bucket used for sharing generated SSH keys and configuration. If you do not specify a staging bucket, Cloud Dataproc will determine an appropriate Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Google Compute Engine zone where your cluster is deployed, then it will create and manage this project-level, per-location bucket for you."
    },
    "gceConfiguration": {
     "$ref": "GceConfiguration",
     "description": "[Deprecated] The Google Compute Engine configuration settings for cluster resources."
    },
    "numWorkers": {
     "type": "integer",
     "description": "[Deprecated] The number of worker nodes in the cluster.",
     "format": "int32"
    },
    "workers": {
     "type": "array",
     "description": "[Deprecated] The list of worker node names. Dataproc derives the names from cluster_name and num_workers if not set by user (recommended practice is to let Dataproc derive the name). Derived worker node name example: hadoop-w-0.",
     "items": {
      "type": "string"
     }
    },
    "masterName": {
     "type": "string",
     "description": "[Deprecated] The Master's hostname. Dataproc derives the name from cluster_name if not set by user (recommended practice is to let Dataproc derive the name). Derived master name example: hadoop-m."
    },
    "masterDiskConfiguration": {
     "$ref": "DiskConfiguration",
     "description": "[Deprecated] The configuration settings of master node disk options."
    },
    "workerDiskConfiguration": {
     "$ref": "DiskConfiguration",
     "description": "[Deprecated] The configuration settings of worker node disk options."
    },
    "gceClusterConfiguration": {
     "$ref": "GceClusterConfiguration",
     "description": "[Optional] The shared Google Compute Engine configuration settings for all instances in a cluster."
    },
    "masterConfiguration": {
     "$ref": "InstanceGroupConfiguration",
     "description": "[Optional] The Google Compute Engine configuration settings for the master instance in a cluster."
    },
    "workerConfiguration": {
     "$ref": "InstanceGroupConfiguration",
     "description": "[Optional] The Google Compute Engine configuration settings for worker instances in a cluster."
    },
    "secondaryWorkerConfiguration": {
     "$ref": "InstanceGroupConfiguration",
     "description": "[Optional] The Google Compute Engine configuration settings for additional worker instances in a cluster."
    },
    "softwareConfiguration": {
     "$ref": "SoftwareConfiguration",
     "description": "[Optional] The configuration settings for software inside the cluster."
    },
    "initializationActions": {
     "type": "array",
     "description": "[Optional] Commands to execute on each node after configuration is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below: ROLE=$(/usr/share/google/get_metadata_value attributes/role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi",
     "items": {
      "$ref": "NodeInitializationAction"
     }
    }
   }
  },
  "GceConfiguration": {
   "id": "GceConfiguration",
   "type": "object",
   "description": "[Deprecated] Common configuration settings for resources of Google Compute Engine cluster instances, applicable to all instances in the cluster.",
   "properties": {
    "imageUri": {
     "type": "string",
     "description": "[Deprecated] The Google Compute Engine image resource used for cluster instances. Example: \"compute.googleapis.com/projects/debian-cloud /global/images/backports-debian-7-wheezy-v20140904\"."
    },
    "machineTypeUri": {
     "type": "string",
     "description": "[Deprecated] The Google Compute Engine machine type used for cluster instances. Example: \"compute.googleapis.com/projects/[project_id] /zones/us-east1-a/machineTypes/n1-standard-2\"."
    },
    "zoneUri": {
     "type": "string",
     "description": "[Deprecated] The zone where the Google Compute Engine cluster will be located. Example: \"compute.googleapis.com/projects/[project_id] /zones/us-east1-a\"."
    },
    "networkUri": {
     "type": "string",
     "description": "[Deprecated] The Google Compute Engine network to be used for machine communications. Inbound SSH connections are necessary to complete cluster configuration. Example \"compute.googleapis.com/projects/[project_id] /zones/us-east1-a/default\"."
    },
    "serviceAccountScopes": {
     "type": "array",
     "description": "[Deprecated] The service account scopes included in Google Compute Engine instances. Must include devstorage.full_control to enable the Google Cloud Storage connector. Example \"auth.googleapis.com/compute\" and \"auth.googleapis.com/devstorage.full_control\".",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "DiskConfiguration": {
   "id": "DiskConfiguration",
   "type": "object",
   "description": "Specifies the configuration of disk options for a group of VM instances.",
   "properties": {
    "bootDiskSizeGb": {
     "type": "integer",
     "description": "[Optional] Size in GB of the boot disk (default is 500GB).",
     "format": "int32"
    },
    "numLocalSsds": {
     "type": "integer",
     "description": "[Optional] Number of attached SSDs, from 0 to 4 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs, and HDFS data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic configuration and installed binaries.",
     "format": "int32"
    }
   }
  },
  "GceClusterConfiguration": {
   "id": "GceClusterConfiguration",
   "type": "object",
   "description": "Common configuration settings for resources of Google Compute Engine cluster instances, applicable to all instances in the cluster.",
   "properties": {
    "zoneUri": {
     "type": "string",
     "description": "[Required] The zone where the Google Compute Engine cluster will be located. Example: \"compute.googleapis.com/projects/[project_id] /zones/us-east1-a\"."
    },
    "networkUri": {
     "type": "string",
     "description": "The Google Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see https://cloud.google.com/compute/docs/subnetworks for more information). Example: `compute.googleapis.com/projects/[project_id]/regions/global/default`."
    },
    "subnetworkUri": {
     "type": "string",
     "description": "The Google Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri. Example: `compute.googleapis.com/projects/[project_id]/regions/us-east1/sub0`."
    },
    "serviceAccountScopes": {
     "type": "array",
     "description": "The service account scopes included in Google Compute Engine instances. Must include devstorage.full_control to enable the Google Cloud Storage connector. Example \"auth.googleapis.com/compute\" and \"auth.googleapis.com/devstorage.full_control\".",
     "items": {
      "type": "string"
     }
    },
    "tags": {
     "type": "array",
     "description": "The Google Compute Engine tags to add to all instances.",
     "items": {
      "type": "string"
     }
    },
    "metadata": {
     "type": "object",
     "description": "The Google Compute Engine metadata entries to add to all instances.",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "InstanceGroupConfiguration": {
   "id": "InstanceGroupConfiguration",
   "type": "object",
   "description": "The configuration settings for Google Compute Engine resources in an instance group, such as a master or worker group.",
   "properties": {
    "numInstances": {
     "type": "integer",
     "description": "The number of VM instances in the instance group. For master instance groups, must be set to 1.",
     "format": "int32"
    },
    "instanceNames": {
     "type": "array",
     "description": "The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group if not set by user (recommended practice is to let Dataproc derive the name).",
     "items": {
      "type": "string"
     }
    },
    "imageUri": {
     "type": "string",
     "description": "[Output-only] The Google Compute Engine image resource used for cluster instances. Inferred from SoftwareConfiguration.image_version. Example: \"compute.googleapis.com/projects/debian-cloud /global/images/backports-debian-7-wheezy-v20140904\"."
    },
    "machineTypeUri": {
     "type": "string",
     "description": "The Google Compute Engine machine type used for cluster instances. Example: \"compute.googleapis.com/projects/[project_id] /zones/us-east1-a/machineTypes/n1-standard-2\"."
    },
    "diskConfiguration": {
     "$ref": "DiskConfiguration",
     "description": "Disk option configuration settings."
    },
    "isPreemptible": {
     "type": "boolean",
     "description": "Specifies that this instance group contains Preemptible Instances."
    },
    "managedGroupConfiguration": {
     "$ref": "ManagedGroupConfiguration",
     "description": "[Output-only] The configuration for Google Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups."
    }
   }
  },
  "ManagedGroupConfiguration": {
   "id": "ManagedGroupConfiguration",
   "type": "object",
   "description": "Specifies the resources used to actively manage an instance group.",
   "properties": {
    "instanceTemplateName": {
     "type": "string",
     "description": "[Output-only] The name of Instance Template used for Managed Instance Group."
    },
    "instanceGroupManagerName": {
     "type": "string",
     "description": "[Output-only] The name of Instance Group Manager managing this group."
    }
   }
  },
  "SoftwareConfiguration": {
   "id": "SoftwareConfiguration",
   "type": "object",
   "description": "Specifies the selection and configuration of software inside the cluster.",
   "properties": {
    "imageVersion": {
     "type": "string",
     "description": "[Optional] The version of software inside the cluster. It must match the regular expression [0-9]+\\.[0-9]+. If unspecified it will default to latest version."
    },
    "properties": {
     "type": "object",
     "description": "[Optional] The properties to set on daemon configuration files. Property keys are specified in \"prefix:property\" format, such as \"core:fs.defaultFS\". The following are supported prefixes and their mappings: core - core-site.xml hdfs - hdfs-site.xml mapred - mapred-site.xml yarn - yarn-site.xml hive - hive-site.xml pig - pig.properties spark - spark-defaults.conf",
     "additionalProperties": {
      "type": "string"
     }
    }
   }
  },
  "NodeInitializationAction": {
   "id": "NodeInitializationAction",
   "type": "object",
   "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
   "properties": {
    "executableFile": {
     "type": "string",
     "description": "[Required] Google Cloud Storage URI of executable file."
    },
    "executionTimeout": {
     "type": "string",
     "description": "[Optional] Amount of time executable has to complete. Default is 10 minutes. Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period."
    }
   }
  },
  "ClusterStatus": {
   "id": "ClusterStatus",
   "type": "object",
   "description": "The status of a cluster and its instances.",
   "properties": {
    "state": {
     "type": "string",
     "description": "The cluster's state.",
     "enum": [
      "UNKNOWN",
      "CREATING",
      "RUNNING",
      "ERROR",
      "DELETING",
      "UPDATING"
     ]
    },
    "detail": {
     "type": "string",
     "description": "Optional details of cluster's state."
    },
    "stateStartTime": {
     "type": "string",
     "description": "Time when this state was entered."
    }
   }
  },
  "Operation": {
   "id": "Operation",
   "type": "object",
   "description": "An asynchronous operation in a project that runs over a given cluster. Used to track the progress of a user request that is running asynchronously. Examples include creating a cluster, updating a cluster, and deleting a cluster.",
   "properties": {
    "name": {
     "type": "string",
     "description": "The name of the operation resource, in the format projects/[project_id]/operations/[operation_id]"
    },
    "metadata": {
     "type": "object",
     "description": "Service-specific metadata associated with the operation.",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object. Contains field @ype with type URL."
     }
    },
    "done": {
     "type": "boolean",
     "description": "Indicates if the operation is done. If true, the operation is complete and the `result` is available. If false, the operation is still in progress."
    },
    "error": {
     "$ref": "Status",
     "description": "The error result of the operation in case of failure."
    },
    "response": {
     "type": "object",
     "description": "The operation response. If the called method returns no data on success, the response is `google.protobuf.Empty`. If the called method is `Get`,`Create` or `Update`, the response is the resource. For all other methods, the response type is a concatenation of the method name and \"Response\". For example, if the called method is `TakeSnapshot()`, the response type is `TakeSnapshotResponse`.",
     "additionalProperties": {
      "type": "any",
      "description": "Properties of the object. Contains field @ype with type URL."
     }
    }
   }
  },
  "Status": {
   "id": "Status",
   "type": "object",
   "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.",
   "properties": {
    "code": {
     "type": "integer",
     "description": "The status code, which should be an enum value of google.rpc.Code.",
     "format": "int32"
    },
    "message": {
     "type": "string",
     "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
    },
    "details": {
     "type": "array",
     "description": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
     "items": {
      "type": "object",
      "additionalProperties": {
       "type": "any",
       "description": "Properties of the object. Contains field @ype with type URL."
      }
     }
    }
   }
  },
  "ListClustersResponse": {
   "id": "ListClustersResponse",
   "type": "object",
   "description": "The list of all clusters in a project.",
   "properties": {
    "clusters": {
     "type": "array",
     "description": "[Output-only] The clusters in the project.",
     "items": {
      "$ref": "Cluster"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "The standard List next-page token."
    }
   }
  },
  "SubmitJobRequest": {
   "id": "SubmitJobRequest",
   "type": "object",
   "description": "A job submission request.",
   "properties": {
    "job": {
     "$ref": "Job",
     "description": "[Required] The job resource."
    }
   }
  },
  "Job": {
   "id": "Job",
   "type": "object",
   "description": "A Cloud Dataproc job resource.",
   "properties": {
    "reference": {
     "$ref": "JobReference",
     "description": "[Optional] The fully-qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id."
    },
    "placement": {
     "$ref": "JobPlacement",
     "description": "[Required] Job information, including how, when, and where to run the job."
    },
    "hadoopJob": {
     "$ref": "HadoopJob",
     "description": "Job is a Hadoop job."
    },
    "sparkJob": {
     "$ref": "SparkJob",
     "description": "Job is a Spark job."
    },
    "pysparkJob": {
     "$ref": "PySparkJob",
     "description": "Job is a Pyspark job."
    },
    "hiveJob": {
     "$ref": "HiveJob",
     "description": "Job is a Hive job."
    },
    "pigJob": {
     "$ref": "PigJob",
     "description": "Job is a Pig job."
    },
    "sparkSqlJob": {
     "$ref": "SparkSqlJob",
     "description": "Job is a SparkSql job."
    },
    "status": {
     "$ref": "JobStatus",
     "description": "[Output-only] The job status. Additional application-specific status information may be contained in the type_job and yarn_applications fields."
    },
    "statusHistory": {
     "type": "array",
     "description": "[Output-only] The previous job status.",
     "items": {
      "$ref": "JobStatus"
     }
    },
    "yarnApplications": {
     "type": "array",
     "description": "[Output-only] The collection of Yarn applications spun up by this job.",
     "items": {
      "$ref": "YarnApplication"
     }
    },
    "submittedBy": {
     "type": "string",
     "description": "[Output-only] The email address of the user submitting the job. For jobs submitted on the cluster, the address is username@hostname."
    },
    "driverOutputUri": {
     "type": "string",
     "description": "[Output-only] A URI pointing to the location of the mixed stdout/stderr of the job's driver program—for example, gs://sysbucket123/foo-cluster/jobid-123/driver/output."
    },
    "driverInputResourceUri": {
     "type": "string",
     "description": "[Output-only] A URI pointing to the location of the stdin of the job's driver program, only set if the job is interactive."
    },
    "driverOutputResourceUri": {
     "type": "string",
     "description": "[Output-only] A URI pointing to the location of the stdout of the job's driver program."
    },
    "driverControlFilesUri": {
     "type": "string",
     "description": "[Output-only] If present, the location of miscellaneous control files which may be used as part of job setup and handling. If not present, control files may be placed in the same location as driver_output_uri."
    },
    "interactive": {
     "type": "boolean",
     "description": "[Optional] If set to true, then the driver's stdin will be kept open and driver_input_uri will be set to provide a path at which additional input can be sent to the driver."
    }
   }
  },
  "JobReference": {
   "id": "JobReference",
   "type": "object",
   "description": "Encapsulates the full scoping used to reference a job.",
   "properties": {
    "projectId": {
     "type": "string",
     "description": "[Required] The ID of the Google Cloud Platform project that the job belongs to."
    },
    "jobId": {
     "type": "string",
     "description": "[Required] The job ID, which must be unique within the project. The job ID is generated by the server upon job submission or provided by the user as a means to perform retries without creating duplicate jobs. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 512 characters."
    }
   }
  },
  "JobPlacement": {
   "id": "JobPlacement",
   "type": "object",
   "description": "Cloud Dataproc job configuration.",
   "properties": {
    "clusterName": {
     "type": "string",
     "description": "[Required] The name of the cluster where the job will be submitted."
    },
    "clusterUuid": {
     "type": "string",
     "description": "[Output-only] A cluster UUID generated by the Dataproc service when the job is submitted."
    }
   }
  },
  "HadoopJob": {
   "id": "HadoopJob",
   "type": "object",
   "description": "A Cloud Dataproc job for running Hadoop MapReduce jobs on YARN.",
   "properties": {
    "mainJarFileUri": {
     "type": "string",
     "description": "The Hadoop Compatible Filesystem (HCFS) URI of the jar file containing the main class. Examples: gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar hdfs:/tmp/test-samples/custom-wordcount.jar file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar"
    },
    "mainClass": {
     "type": "string",
     "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris."
    },
    "args": {
     "type": "array",
     "description": "[Optional] The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
     "items": {
      "type": "string"
     }
    },
    "jarFileUris": {
     "type": "array",
     "description": "[Optional] Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
     "items": {
      "type": "string"
     }
    },
    "fileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
     "items": {
      "type": "string"
     }
    },
    "archiveUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
     "items": {
      "type": "string"
     }
    },
    "properties": {
     "type": "object",
     "description": "[Optional] A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "loggingConfiguration": {
     "$ref": "LoggingConfiguration",
     "description": "[Optional] The runtime log configuration for job execution."
    }
   }
  },
  "LoggingConfiguration": {
   "id": "LoggingConfiguration",
   "type": "object",
   "description": "The runtime logging configuration of the job.",
   "properties": {
    "driverLogLevels": {
     "type": "object",
     "description": "The per-package log levels for the driver. This may include 'root' package name to configure rootLogger. Examples: com.google = FATAL, root = INFO, org.apache = DEBUG",
     "additionalProperties": {
      "type": "string",
      "enum": [
       "LEVEL_UNSPECIFIED",
       "ALL",
       "TRACE",
       "DEBUG",
       "INFO",
       "WARN",
       "ERROR",
       "FATAL",
       "OFF"
      ]
     }
    }
   }
  },
  "SparkJob": {
   "id": "SparkJob",
   "type": "object",
   "description": "A Cloud Dataproc job for running Spark applications on YARN.",
   "properties": {
    "mainJarFileUri": {
     "type": "string",
     "description": "The Hadoop Compatible Filesystem (HCFS) URI of the jar file that contains the main class."
    },
    "mainClass": {
     "type": "string",
     "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris."
    },
    "args": {
     "type": "array",
     "description": "[Optional] The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
     "items": {
      "type": "string"
     }
    },
    "jarFileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
     "items": {
      "type": "string"
     }
    },
    "fileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of files to be copied to the working directory of Spark drivers and distributed tasks. Useful for naively parallel tasks.",
     "items": {
      "type": "string"
     }
    },
    "archiveUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of archives to be extracted in the working directory of Spark drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
     "items": {
      "type": "string"
     }
    },
    "properties": {
     "type": "object",
     "description": "[Optional] A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "loggingConfiguration": {
     "$ref": "LoggingConfiguration",
     "description": "[Optional] The runtime log configuration for job execution."
    }
   }
  },
  "PySparkJob": {
   "id": "PySparkJob",
   "type": "object",
   "description": "A Cloud Dataproc job for running PySpark applications on YARN.",
   "properties": {
    "mainPythonFileUri": {
     "type": "string",
     "description": "[Required] The Hadoop Compatible Filesystem (HCFS) URI of the main Python file to use as the driver. Must be a .py file."
    },
    "args": {
     "type": "array",
     "description": "[Optional] The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
     "items": {
      "type": "string"
     }
    },
    "pythonFileUris": {
     "type": "array",
     "description": "[Optional] HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
     "items": {
      "type": "string"
     }
    },
    "jarFileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
     "items": {
      "type": "string"
     }
    },
    "fileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of files to be copied to the working directory of Python drivers and distributed tasks. Useful for naively parallel tasks.",
     "items": {
      "type": "string"
     }
    },
    "archiveUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of archives to be extracted in the working directory of .jar, .tar, .tar.gz, .tgz, and .zip.",
     "items": {
      "type": "string"
     }
    },
    "properties": {
     "type": "object",
     "description": "[Optional] A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "loggingConfiguration": {
     "$ref": "LoggingConfiguration",
     "description": "[Optional] The runtime log configuration for job execution."
    }
   }
  },
  "HiveJob": {
   "id": "HiveJob",
   "type": "object",
   "description": "A Cloud Dataproc job for running Hive queries on YARN.",
   "properties": {
    "queryFileUri": {
     "type": "string",
     "description": "The HCFS URI of the script that contains Hive queries."
    },
    "queryList": {
     "$ref": "QueryList",
     "description": "A list of queries."
    },
    "continueOnFailure": {
     "type": "boolean",
     "description": "[Optional] Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
    },
    "scriptVariables": {
     "type": "object",
     "description": "[Optional] Mapping of query variable names to values (equivalent to the Hive command: 'SET name=\"value\";').",
     "additionalProperties": {
      "type": "string"
     }
    },
    "properties": {
     "type": "object",
     "description": "[Optional] A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "jarFileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "QueryList": {
   "id": "QueryList",
   "type": "object",
   "description": "A list of queries to run on a cluster.",
   "properties": {
    "queries": {
     "type": "array",
     "description": "[Required] The queries to execute. You do not need to terminate a query with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of an Cloud Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } }",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "PigJob": {
   "id": "PigJob",
   "type": "object",
   "description": "A Cloud Dataproc job for running Pig queries on YARN.",
   "properties": {
    "queryFileUri": {
     "type": "string",
     "description": "The HCFS URI of the script that contains the Pig queries."
    },
    "queryList": {
     "$ref": "QueryList",
     "description": "A list of queries."
    },
    "continueOnFailure": {
     "type": "boolean",
     "description": "[Optional] Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
    },
    "scriptVariables": {
     "type": "object",
     "description": "[Optional] Mapping of query variable names to values (equivalent to the Pig command: \"name=[value]\").",
     "additionalProperties": {
      "type": "string"
     }
    },
    "properties": {
     "type": "object",
     "description": "[Optional] A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Cloud Dataproc API may be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "jarFileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
     "items": {
      "type": "string"
     }
    },
    "loggingConfiguration": {
     "$ref": "LoggingConfiguration",
     "description": "[Optional] The runtime log configuration for job execution."
    }
   }
  },
  "SparkSqlJob": {
   "id": "SparkSqlJob",
   "type": "object",
   "description": "A Cloud Dataproc job for running Spark SQL queries.",
   "properties": {
    "queryFileUri": {
     "type": "string",
     "description": "The HCFS URI of the script that contains SQL queries."
    },
    "queryList": {
     "$ref": "QueryList",
     "description": "A list of queries."
    },
    "scriptVariables": {
     "type": "object",
     "description": "[Optional] Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
     "additionalProperties": {
      "type": "string"
     }
    },
    "properties": {
     "type": "object",
     "description": "[Optional] A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Cloud Dataproc API may be overwritten.",
     "additionalProperties": {
      "type": "string"
     }
    },
    "jarFileUris": {
     "type": "array",
     "description": "[Optional] HCFS URIs of jar files to be added to the Spark CLASSPATH.",
     "items": {
      "type": "string"
     }
    },
    "loggingConfiguration": {
     "$ref": "LoggingConfiguration",
     "description": "[Optional] The runtime log configuration for job execution."
    }
   }
  },
  "JobStatus": {
   "id": "JobStatus",
   "type": "object",
   "description": "Cloud Dataproc job status.",
   "properties": {
    "state": {
     "type": "string",
     "description": "[Required] A state message specifying the overall job state.",
     "enum": [
      "STATE_UNSPECIFIED",
      "PENDING",
      "SETUP_DONE",
      "RUNNING",
      "CANCEL_PENDING",
      "CANCEL_STARTED",
      "CANCELLED",
      "DONE",
      "ERROR"
     ]
    },
    "details": {
     "type": "string",
     "description": "[Optional] Job state details, such as an error description if the state is ERROR."
    },
    "insertTime": {
     "type": "string",
     "description": "The time of the job request."
    },
    "startTime": {
     "type": "string",
     "description": "The time when the server started the job."
    },
    "endTime": {
     "type": "string",
     "description": "The time when the job completed."
    },
    "stateStartTime": {
     "type": "string",
     "description": "[Output-only] The time when this state was entered."
    }
   }
  },
  "YarnApplication": {
   "id": "YarnApplication",
   "type": "object",
   "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.",
   "properties": {
    "name": {
     "type": "string",
     "description": "[Required] The application name."
    },
    "state": {
     "type": "string",
     "description": "[Required] The application state.",
     "enum": [
      "STATE_UNSPECIFIED",
      "NEW",
      "NEW_SAVING",
      "SUBMITTED",
      "ACCEPTED",
      "RUNNING",
      "FINISHED",
      "FAILED",
      "KILLED"
     ]
    },
    "progress": {
     "type": "number",
     "description": "[Required] The numerical progress of the application, from 1 to 100.",
     "format": "float"
    },
    "trackingUrl": {
     "type": "string",
     "description": "[Optional] The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
    }
   }
  },
  "ListJobsResponse": {
   "id": "ListJobsResponse",
   "type": "object",
   "description": "A response to a request to list jobs in a project.",
   "properties": {
    "jobs": {
     "type": "array",
     "description": "[Output-only] Jobs list.",
     "items": {
      "$ref": "Job"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Optional] This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest."
    }
   }
  },
  "ListJobsRequest": {
   "id": "ListJobsRequest",
   "type": "object",
   "description": "A request to list jobs in a project.",
   "properties": {
    "pageSize": {
     "type": "integer",
     "description": "[Optional] The number of results to return in each response.",
     "format": "int32"
    },
    "pageToken": {
     "type": "string",
     "description": "[Optional] The page token, returned by a previous call, to request the next page of results."
    },
    "clusterName": {
     "type": "string",
     "description": "[Optional] If set, the returned jobs list includes only jobs that were submitted to the named cluster."
    },
    "jobStateMatcher": {
     "type": "string",
     "description": "[Optional] Specifies enumerated categories of jobs to list.",
     "enum": [
      "ALL",
      "ACTIVE",
      "NON_ACTIVE"
     ]
    }
   }
  },
  "CancelJobRequest": {
   "id": "CancelJobRequest",
   "type": "object",
   "description": "A request to cancel a job."
  },
  "ListOperationsResponse": {
   "id": "ListOperationsResponse",
   "type": "object",
   "description": "The response message for Operations.ListOperations.",
   "properties": {
    "operations": {
     "type": "array",
     "description": "A list of operations that match the specified filter in the request.",
     "items": {
      "$ref": "Operation"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "The standard List next-page token."
    }
   }
  },
  "CancelOperationRequest": {
   "id": "CancelOperationRequest",
   "type": "object",
   "description": "The request message for Operations.CancelOperation."
  },
  "Empty": {
   "id": "Empty",
   "type": "object",
   "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
  },
  "DiagnoseClusterResults": {
   "id": "DiagnoseClusterResults",
   "type": "object",
   "description": "The location of diagnostic output.",
   "properties": {
    "outputUri": {
     "type": "string",
     "description": "[Output-only] The Google Cloud Storage URI of the diagnostic output. This is a plain text file with a summary of collected diagnostics."
    }
   }
  },
  "ClusterOperationMetadata": {
   "id": "ClusterOperationMetadata",
   "type": "object",
   "description": "Metadata describing the operation.",
   "properties": {
    "clusterName": {
     "type": "string",
     "description": "Name of the cluster for the operation."
    },
    "clusterUuid": {
     "type": "string",
     "description": "Cluster UUId for the operation."
    },
    "status": {
     "$ref": "ClusterOperationStatus",
     "description": "[Output-only] Current operation status."
    },
    "statusHistory": {
     "type": "array",
     "description": "[Output-only] The previous operation status.",
     "items": {
      "$ref": "ClusterOperationStatus"
     }
    },
    "operationType": {
     "type": "string",
     "description": "[Output-only] The operation type."
    },
    "description": {
     "type": "string",
     "description": "[Output-only] Short description of operation."
    }
   }
  },
  "ClusterOperationStatus": {
   "id": "ClusterOperationStatus",
   "type": "object",
   "description": "The status of the operation.",
   "properties": {
    "state": {
     "type": "string",
     "description": "A message containing the operation state.",
     "enum": [
      "UNKNOWN",
      "PENDING",
      "RUNNING",
      "DONE"
     ]
    },
    "innerState": {
     "type": "string",
     "description": "A message containing the detailed operation state."
    },
    "details": {
     "type": "string",
     "description": "A message containing any operation metadata details."
    },
    "stateStartTime": {
     "type": "string",
     "description": "The time this state was entered."
    }
   }
  },
  "DiagnoseClusterOutputLocation": {
   "id": "DiagnoseClusterOutputLocation",
   "type": "object",
   "description": "The location where output from diagnostic command can be found.",
   "properties": {
    "outputUri": {
     "type": "string",
     "description": "[Output-only] The Google Cloud Storage URI of the diagnostic output. This will be a plain text file with summary of collected diagnostics."
    }
   }
  },
  "OperationMetadata": {
   "id": "OperationMetadata",
   "type": "object",
   "description": "Metadata describing the operation.",
   "properties": {
    "state": {
     "type": "string",
     "description": "A message containing the operation state.",
     "enum": [
      "UNKNOWN",
      "PENDING",
      "RUNNING",
      "DONE"
     ]
    },
    "innerState": {
     "type": "string",
     "description": "A message containing the detailed operation state."
    },
    "details": {
     "type": "string",
     "description": "A message containing any operation metadata details."
    },
    "insertTime": {
     "type": "string",
     "description": "The time that the operation was requested."
    },
    "startTime": {
     "type": "string",
     "description": "The time that the operation was started by the server."
    },
    "endTime": {
     "type": "string",
     "description": "The time that the operation completed."
    },
    "clusterName": {
     "type": "string",
     "description": "Name of the cluster for the operation."
    },
    "clusterUuid": {
     "type": "string",
     "description": "Cluster UUId for the operation."
    },
    "status": {
     "$ref": "OperationStatus",
     "description": "[Output-only] Current operation status."
    },
    "statusHistory": {
     "type": "array",
     "description": "[Output-only] Previous operation status.",
     "items": {
      "$ref": "OperationStatus"
     }
    },
    "operationType": {
     "type": "string",
     "description": "[Output-only] The operation type."
    },
    "description": {
     "type": "string",
     "description": "[Output-only] Short description of operation."
    }
   }
  },
  "OperationStatus": {
   "id": "OperationStatus",
   "type": "object",
   "description": "The status of the operation.",
   "properties": {
    "state": {
     "type": "string",
     "description": "A message containing the operation state.",
     "enum": [
      "UNKNOWN",
      "PENDING",
      "RUNNING",
      "DONE"
     ]
    },
    "innerState": {
     "type": "string",
     "description": "A message containing the detailed operation state."
    },
    "details": {
     "type": "string",
     "description": "A message containing any operation metadata details."
    },
    "stateStartTime": {
     "type": "string",
     "description": "The time this state was entered."
    }
   }
  }
 },
 "resources": {
  "projects": {
   "resources": {
    "regions": {
     "resources": {
      "clusters": {
       "methods": {
        "create": {
         "id": "dataproc.projects.regions.clusters.create",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/clusters",
         "httpMethod": "POST",
         "description": "Request to create a cluster in a project.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the cluster belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region"
         ],
         "request": {
          "$ref": "Cluster"
         },
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "patch": {
         "id": "dataproc.projects.regions.clusters.patch",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
         "httpMethod": "PATCH",
         "description": "Request to update a cluster in a project.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project the cluster belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "clusterName": {
           "type": "string",
           "description": "[Required] The cluster name.",
           "required": true,
           "location": "path"
          },
          "updateMask": {
           "type": "string",
           "description": "[Required] Specifies the path, relative to Cluster, of the field to update. For example, to change the number of workers in a cluster to 5, the update_mask parameter would be specified as \"configuration.worker_configuration.num_instances,\" and the PATCH request body would specify the new value, as follows: { \"configuration\":{ \"workerConfiguration\":{ \"numInstances\":\"5\" } } } Note: Currently, configuration.worker_configuration.num_instances is the only field that can be updated.",
           "location": "query"
          }
         },
         "parameterOrder": [
          "projectId",
          "region",
          "clusterName"
         ],
         "request": {
          "$ref": "Cluster"
         },
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "delete": {
         "id": "dataproc.projects.regions.clusters.delete",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
         "httpMethod": "DELETE",
         "description": "Request to delete a cluster in a project.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the cluster belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "clusterName": {
           "type": "string",
           "description": "[Required] The cluster name.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region",
          "clusterName"
         ],
         "response": {
          "$ref": "Operation"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "get": {
         "id": "dataproc.projects.regions.clusters.get",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/clusters/{clusterName}",
         "httpMethod": "GET",
         "description": "Request to get the resource representation for a cluster in a project.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the cluster belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "clusterName": {
           "type": "string",
           "description": "[Required] The cluster name.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region",
          "clusterName"
         ],
         "response": {
          "$ref": "Cluster"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "list": {
         "id": "dataproc.projects.regions.clusters.list",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/clusters",
         "httpMethod": "GET",
         "description": "Request a list of all regions/{region}/clusters in a project.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the cluster belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "pageSize": {
           "type": "integer",
           "description": "The standard List page size.",
           "format": "int32",
           "location": "query"
          },
          "pageToken": {
           "type": "string",
           "description": "The standard List page token.",
           "location": "query"
          }
         },
         "parameterOrder": [
          "projectId",
          "region"
         ],
         "response": {
          "$ref": "ListClustersResponse"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        }
       }
      },
      "jobs": {
       "methods": {
        "submit": {
         "id": "dataproc.projects.regions.jobs.submit",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/jobs:submit",
         "httpMethod": "POST",
         "description": "Submits a job to a cluster.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the job belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region"
         ],
         "request": {
          "$ref": "SubmitJobRequest"
         },
         "response": {
          "$ref": "Job"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "get": {
         "id": "dataproc.projects.regions.jobs.get",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/jobs/{jobId}",
         "httpMethod": "GET",
         "description": "Gets the resource representation for a job in a project.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the job belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "jobId": {
           "type": "string",
           "description": "[Required] The job ID.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region",
          "jobId"
         ],
         "response": {
          "$ref": "Job"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "cancel": {
         "id": "dataproc.projects.regions.jobs.cancel",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/jobs/{jobId}:cancel",
         "httpMethod": "POST",
         "description": "Starts a job cancellation request. To access the job resource after cancellation, call regions/{region}/jobs:list or regions/{region}/jobs:get.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the job belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "jobId": {
           "type": "string",
           "description": "[Required] The job ID.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region",
          "jobId"
         ],
         "request": {
          "$ref": "CancelJobRequest"
         },
         "response": {
          "$ref": "Job"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        },
        "delete": {
         "id": "dataproc.projects.regions.jobs.delete",
         "path": "v1alpha1/projects/{projectId}/regions/{region}/jobs/{jobId}",
         "httpMethod": "DELETE",
         "description": "Deletes the job from the project. If the job is active, the delete fails, and the response returns `FAILED_PRECONDITION`.",
         "parameters": {
          "projectId": {
           "type": "string",
           "description": "[Required] The ID of the Google Cloud Platform project that the job belongs to.",
           "required": true,
           "location": "path"
          },
          "region": {
           "type": "string",
           "description": "[Required] The Dataproc region in which to handle the request.",
           "required": true,
           "location": "path"
          },
          "jobId": {
           "type": "string",
           "description": "[Required] The job ID.",
           "required": true,
           "location": "path"
          }
         },
         "parameterOrder": [
          "projectId",
          "region",
          "jobId"
         ],
         "response": {
          "$ref": "Job"
         },
         "scopes": [
          "https://www.googleapis.com/auth/cloud-platform"
         ]
        }
       }
      }
     }
    }
   }
  },
  "operations": {
   "methods": {
    "get": {
     "id": "dataproc.operations.get",
     "path": "v1alpha1/{+name}",
     "httpMethod": "GET",
     "description": "Gets the latest state of a long-running operation. Clients may use this method to poll the operation result at intervals as recommended by the API service.",
     "parameters": {
      "name": {
       "type": "string",
       "description": "The operation resource name.",
       "required": true,
       "pattern": "^operations/.*$",
       "location": "path"
      }
     },
     "parameterOrder": [
      "name"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "list": {
     "id": "dataproc.operations.list",
     "path": "v1alpha1/{+name}",
     "httpMethod": "GET",
     "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
     "parameters": {
      "name": {
       "type": "string",
       "description": "The operation collection name.",
       "required": true,
       "pattern": "^operations$",
       "location": "path"
      },
      "filter": {
       "type": "string",
       "description": "[Required] A JSON object that contains filters for the list operation, in the format {\"key1\":\"value1\",\"key2\":\"value2\", ..., }. Possible keys include project_id, cluster_name, and operation_state_matcher. If project_id is set, requests the list of operations that belong to the specified Google Cloud Platform project ID. This key is required. If cluster_name is set, requests the list of operations that were submitted to the specified cluster name. This key is optional. If operation_state_matcher is set, requests the list of operations that match one of the following status options: ALL, ACTIVE, or NON_ACTIVE.",
       "location": "query"
      },
      "pageSize": {
       "type": "integer",
       "description": "The standard List page size.",
       "format": "int32",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "The standard List page token.",
       "location": "query"
      }
     },
     "parameterOrder": [
      "name"
     ],
     "response": {
      "$ref": "ListOperationsResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "cancel": {
     "id": "dataproc.operations.cancel",
     "path": "v1alpha1/{+name}:cancel",
     "httpMethod": "POST",
     "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients may use [Operations.GetOperation] or other methods to check whether the cancellation succeeded or the operation completed despite cancellation.",
     "parameters": {
      "name": {
       "type": "string",
       "description": "The name of the operation resource to be cancelled.",
       "required": true,
       "pattern": "^operations/.*$",
       "location": "path"
      }
     },
     "parameterOrder": [
      "name"
     ],
     "request": {
      "$ref": "CancelOperationRequest"
     },
     "response": {
      "$ref": "Empty"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "delete": {
     "id": "dataproc.operations.delete",
     "path": "v1alpha1/{+name}",
     "httpMethod": "DELETE",
     "description": "Deletes a long-running operation. It indicates the client is no longer interested in the operation result. It does not cancel the operation.",
     "parameters": {
      "name": {
       "type": "string",
       "description": "The name of the operation resource to be deleted.",
       "required": true,
       "pattern": "^operations/.*$",
       "location": "path"
      }
     },
     "parameterOrder": [
      "name"
     ],
     "response": {
      "$ref": "Empty"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    }
   }
  }
 }
}
