provider/kubernetes/**  @containous/kubernetes
provider/rancher/**     @containous/rancher
provider/marathon/**    @containous/marathon
provider/docker/**      @containous/docker
docs/user-guide/kubernetes.md       @containous/kubernetes
docs/user-guide/marathon.md         @containous/marathon
docs/user-guide/swarm.md            @containous/docker
docs/user-guide/swarm-mode.md       @containous/docker
