.idea/
.intellij/
*.iml
.vscode/
.DS_Store
/dist
/webui/.tmp/
/site/
/docs/site/
/autogen/
/baqup
/baqup.toml
/baqup.yml
*.log
*.exe
cover.out
vendor/
plugins-storage/
plugins-local/
baqup_changelog.md
integration/tailscale.secret
integration/gateway-api-conformance-reports/**/experimental-dev-default-report.yaml
