Andrew Savinykh <658865+AndrewSav@users.noreply.github.com> <github.com@brutsoft.com>
Antoine Caron <Slashgear@users.noreply.github.com>
Benjamin Chastanier <ben-st@diffus.org> <benjamin.chastanier@gmail.com>
Bilal Amarni <bilal.amarni@gmail.com> <bamarni@users.noreply.github.com>
Brian Akins <bakins@rsglab.com> <brian@akins.org>
Damien Duportal <damien.duportal@gmail.com> <damien@containo.us>
Daniel Tomcej <daniel.tomcej@gmail.com> <danielt@getyardstick.com>
David Tootill <tooda02@tootill.net> <github@tootill.net>
Diego de Oliveira <doliveira@uolinc.com> <diego@diegooliveira.com>
Ed Robinson <ed@reevoo.com> <ed.robinson@reevoo.com>
egner Blok-Andersen <regner@bench.co> <shadowdf@gmail.com>
Emile Vauge <emile@vauge.com>
Gérald Croës <gerald@containo.us> <gerald@croes.org>
Guilhem Lettron <g.lettron@criteo.com> <guilhem+github@lettron.fr>
Jean-Baptiste Doumenjou <jb.doumenjou@gmail.com>
Jean-Baptiste Doumenjou <jb.doumenjou@gmail.com> <925513+jbdoumenjou@users.noreply.github.com>
Jean-Baptiste Doumenjou <jb.doumenjou@gmail.com> <jbdoumenjou@users.noreply.github.com>
Julien Salleyron <julien.salleyron@gmail.com>
Julien Salleyron <julien.salleyron@gmail.com> <julien@containo.us>
Julien Salleyron <julien.salleyron@gmail.com> <juliens@php.net>
Kevin Pollet <pollet.kevin@gmail.com>
Ludovic Fernandez <ldez@users.noreply.github.com> <lfernandez.dev@gmail.com>
Ludovic Fernandez <ldez@users.noreply.github.com> <ludovic.fernandez@zenika.com>
Ludovic Fernandez <ldez@users.noreply.github.com> <ludovic@containo.us>
Manuel Laufenberg <ich@manuel-laufenberg.de> <manuel.laufenberg@googlemail.com>
Manuel Zapf <manuel.laufenberg@googlemail.com> <manuel.zapf@traefik.io>
Manuel Zapf <manuel.laufenberg@googlemail.com> <manuel@containo.us>
Manuel Zapf <manuel.laufenberg@googlemail.com> <me@manuelzapf.io>
Matevz Mihalic <matevz.mihalic@3fs.si> <matevz.mihalic@gmail.com>
Mathieu Lonjaret <mathieu.lonjaret@gmail.com>
Michael Matur <michael.matur@gmail.com>
Michael Matur <michael.matur@gmail.com> <mmatur@users.noreply.github.com>
Neil McAllister <neil@neilmcallister.com> <neil@containo.us>
Nicolas Mengin <nmengin.pro@gmail.com> <nicolas@containo.us>
Nicolas Mengin <nmengin.pro@gmail.com> <nmengin.pro@gmail.com>
Owen Marshall <owen.marshall@ge.com> <dev@owenmarshall.com>
Richard Shepherd <richard.shepherd@digital.hmrc.gov.uk> <richard@fibratusltd.co.uk>
Romain Tribotté <rtribotte@users.noreply.github.com> <romain@containo.us>
Romain Tribotté <rtribotte@users.noreply.github.com> <rtribotte@users.noreply.github.com>
Samuel Berthe <contact@samuel-berthe.fr>
Samuel Berthe <contact@samuel-berthe.fr> <dev@samuel-berthe.fr>
Samuel Berthe <contact@samuel-berthe.fr> <samuel.berthe@iadvize.com>
Samuel Berthe <dev@samuel-berthe.fr>
Sune Keller <absukl@almbrand.dk> <sune.keller@gmail.com>
Sylvain Rabot <sylvain@abstraction.fr> <s.rabot@lectra.com>
Thomas Krzero <thomas.kovatchitch@gmail.com>
Thomas Recloux <thomas@recloux.fr> <trecloux@users.noreply.github.com>
Tom Moulard <tom.moulard@traefik.io> <tom.moulard@epita.fr>
Vincent Demeester <vincent@sbr.pm> <vincent.demeester@docker.com>
Vincent Demeester <vincent@sbr.pm> <vincent+github@demeester.fr>
Yoan Blanc <yoan@dosimple.ch> <yblanc@edgelab.ch>
Yves Peter <ypdraw@gmail.com> <ypwebstuff@gmail.com>
