[backends]{{range .Containers}}
  [backends.backend-{{.Config.Hostname}}]
    [backends.backend-{{.Config.Hostname}}.servers.server-{{.Config.Hostname}}]

    {{/* Only one exposed port! */}}
    {{if eq (len .Config.ExposedPorts) 1}}
    {{$ip := .NetworkSettings.IPAddress}}
    {{range $keyPort, $valuePort := .Config.ExposedPorts}}
    url = "http://{{$ip}}:{{$keyPort.Port}}"
    {{end}}
    {{else}}

    {{end}}
{{end}}

[routes]{{range .Containers}}
  [routes.route-{{.Config.Hostname}}]
  backends = ["backend-{{.Config.Hostname}}"]
    [routes.route-{{.Config.Hostname}}.rules.rule-{{.Config.Hostname}}-hostname]
    category = "Host"
    value = "{{.Config.Hostname}}.zenika.fr"
    [routes.route-{{.Config.Hostname}}.rules.rule-{{.Config.Hostname}}-name]
    category = "Host"
    value = "{{.Name | replace "/"}}.zenika.fr"
{{end}}
