[backends]{{range .Containers}}
    [backends.backend-{{getBackend .}}.servers.server-{{.Name | replace "/"}}]
    url = "http://{{.NetworkSettings.IPAddress}}:{{getPort .}}"
{{end}}

[routes]{{range $host, $containers := .Hosts}}
  [routes.route-{{$host}}]
  backends = [{{range $container := $containers}}"backend-{{getBackend $container}}",{{end}}]
    [routes.route-{{$host}}.rules.rule-host-{{$host}}]
    category = "Host"
    value = "{{$host}}.zenika.fr"
{{end}}