[backends]{{range .Containers}}
    [backends.backend-{{getBackend .}}.servers.server-{{.Name | replace "/" "" | replace "." "-"}}]
    url = "http://{{.NetworkSettings.IPAddress}}:{{getPort .}}"
{{end}}

[routes]{{range $host, $containers := .Hosts}}
  [routes.route-{{$host}}]
  {{$container := index $containers 0}}
  backend = "backend-{{getBackend $container}}"
    [routes.route-{{$host}}.rules.rule-host-{{$host}}]
    category = "Host"
    value = "{{$host}}.{{$.Domain}}"
{{end}}