<!-- <canvas id="line-chart" style="width:100%; height:250px"></canvas> -->
<div class="line-chart">
  <ngx-charts-line-chart
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [gradient]="false"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  [timeline]="true"
  [roundDomains]="true"
  (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>
