<div>
  <div><input type="text" data-ng-model="providersCtrl.providerFilter" placeholder="Filter" class="form-control"></div>
  <br>
  <uib-tabset>
    <uib-tab data-ng-repeat="(providerId, provider) in providersCtrl.providers" heading="{{providerId}}">

      <div class="row tabset-row__providers">
        <div class="col-md-6">
          <div data-ng-repeat="frontend in provider.frontends | filter: providersCtrl.providerFilter ">
            <frontend-monitor data-provider-id="providerId" data-frontend="frontend"></frontend-monitor>
          </div>
        </div>
        <div class="col-md-6">
          <div data-ng-repeat="backend in provider.backends | filter: providersCtrl.providerFilter">
            <backend-monitor data-provider-id="providerId" data-backend="backend"></backend-monitor>
          </div>
        </div>
      </div>

    </uib-tab>
  </uib-tabset>
</div>
