<div class="container">
  <div class="content">
    <div class="columns is-multiline">

      <div class="column is-12">
        <div class="content-item">
          <div class="content-item-data">
            <div class="columns">
              <div class="column is-4">
                <div class="item-data border-right">
                  <span class="data-blue">{{ totalResponseTime }}</span>
                  <span class="data-grey">Total Response Time</span>
                </div>
              </div>
              <div class="column is-4">
                <div class="item-data border-right">
                  <span class="data-blue">{{ totalCodeCount }}</span>
                  <span class="data-grey">Total Code Count</span>
                </div>
              </div>
              <div class="column is-4">
                <div class="item-data">
                  <span class="data-blue">{{ uptime }}</span>
                  <span class="data-grey">Uptime Since <br/>{{ uptimeSince }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="content-item-data">
            <div class="columns">
              <div class="column is-4">
                <div class="item-data border-right">
                  <span class="data-blue">{{ averageResponseTime }}</span>
                  <span class="data-grey">Average Response Time</span>
                </div>
              </div>
              <div class="column is-4">
                <div class="item-data border-right">
                  <span class="data-blue">{{ codeCount }}</span>
                  <span class="data-grey">Code Count</span>
                </div>
              </div>
              <div class="column is-4">
                <div class="item-data">
                  <span class="data-blue">{{ pid }}</span>
                  <span class="data-grey">PID</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-12">
        <div class="columns">
          <div class="column is-6">
            <div class="content-item">
              <h2>Average Response Time (µs)</h2>
              <app-line-chart [value]="chartValue"></app-line-chart>
            </div>
          </div>
          <div class="column is-6">
            <div class="content-item">
              <h2>Total Status Code Count</h2>
              <app-bar-chart [value]="statusCodeValue"></app-bar-chart>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
