
@font-face {
    font-family: 'charterregular';
    src: url('./assets/fonts/charter_regular-webfont.eot');
    src: url('./assets/fonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.traefik-blue {
  color: #00B1FF;
}

.traefik-text {
   font-family: 'charterregular', Arial, sans-serif;
}

.panel-body .panel-table__servers,
.panel-body .panel-table__routes {
  margin-bottom: 0;
}

.tabset-row__providers {
  margin-top: 3rem;
}

table {
  table-layout: fixed; 
}

td, th {
    word-wrap: break-word;
}