{
 "kind": "discovery#restDescription",
 "etag": "\"bRFOOrZKfO9LweMbPqu0kcu6De8/0fXgArWlo2qaFZ4FRbwHwQJZMfg\"",
 "discoveryVersion": "v1",
 "id": "serviceregistry:alpha",
 "name": "serviceregistry",
 "canonicalName": "Service Registry",
 "version": "alpha",
 "revision": "20160225",
 "title": "Google Cloud Service Registry API",
 "description": "The Service Registry API allows users to manage service endpoints in Service Registry and use DNS-based service discovery / name resolution.",
 "ownerDomain": "google.com",
 "ownerName": "Google",
 "icons": {
  "x16": "http://www.google.com/images/icons/product/search-16.gif",
  "x32": "http://www.google.com/images/icons/product/search-32.gif"
 },
 "documentationLink": "https://developers.google.com/cloud-serviceregistry/",
 "labels": [
  "limited_availability"
 ],
 "protocol": "rest",
 "baseUrl": "https://www.googleapis.com/serviceregistry/alpha/projects/",
 "basePath": "/serviceregistry/alpha/projects/",
 "rootUrl": "https://www.googleapis.com/",
 "servicePath": "serviceregistry/alpha/projects/",
 "batchPath": "batch",
 "parameters": {
  "alt": {
   "type": "string",
   "description": "Data format for the response.",
   "default": "json",
   "enum": [
    "json"
   ],
   "enumDescriptions": [
    "Responses with Content-Type of application/json"
   ],
   "location": "query"
  },
  "fields": {
   "type": "string",
   "description": "Selector specifying which fields to include in a partial response.",
   "location": "query"
  },
  "key": {
   "type": "string",
   "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
   "location": "query"
  },
  "oauth_token": {
   "type": "string",
   "description": "OAuth 2.0 token for the current user.",
   "location": "query"
  },
  "prettyPrint": {
   "type": "boolean",
   "description": "Returns response with indentations and line breaks.",
   "default": "true",
   "location": "query"
  },
  "quotaUser": {
   "type": "string",
   "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
   "location": "query"
  },
  "userIp": {
   "type": "string",
   "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
   "location": "query"
  }
 },
 "auth": {
  "oauth2": {
   "scopes": {
    "https://www.googleapis.com/auth/cloud-platform": {
     "description": "View and manage your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/cloud-platform.read-only": {
     "description": "View your data across Google Cloud Platform services"
    },
    "https://www.googleapis.com/auth/ndev.cloudman": {
     "description": "View and manage your Google Cloud Platform management resources and deployment status information"
    },
    "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
     "description": "View your Google Cloud Platform management resources and deployment status information"
    }
   }
  }
 },
 "schemas": {
  "Endpoint": {
   "id": "Endpoint",
   "type": "object",
   "properties": {
    "address": {
     "type": "string",
     "description": "A user-provided address of the service represented by this endpoint. This can be an IPv4 or IPv6 address, or a hostname."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "An optional user-provided description of the endpoint."
    },
    "fingerprint": {
     "type": "string",
     "description": "Supply the fingerprint value for update requests. The fingerprint value is generated by the server and ensures optimistic concurrency (so that only one update can be performed at a time). The fingerprint changes after each update.",
     "format": "byte"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] Unique identifier for the resource; defined by the server.",
     "format": "uint64"
    },
    "name": {
     "type": "string",
     "description": "A user-provided name of the endpoint, which must be unique within the project. The name must comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
    },
    "port": {
     "type": "integer",
     "description": "An optional user-provided port of the service represented by this endpoint.",
     "format": "int32"
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Self link for the endpoint."
    },
    "state": {
     "type": "string",
     "description": "[Output Only] The current state of the endpoint, as determined by the system."
    },
    "visibility": {
     "$ref": "EndpointEndpointVisibility",
     "description": "The visibility of this endpoint. This must be a list of fully-qualified URLs to Compute Engine networks."
    }
   }
  },
  "EndpointEndpointVisibility": {
   "id": "EndpointEndpointVisibility",
   "type": "object",
   "properties": {
    "networks": {
     "type": "array",
     "description": "Google Compute Engine networks for which the name of this endpoint should be resolvable through DNS.",
     "items": {
      "type": "string"
     }
    }
   }
  },
  "EndpointsListResponse": {
   "id": "EndpointsListResponse",
   "type": "object",
   "description": "A response containing a partial list of Endpoints and a page token used to build the next request if the request has been truncated. Next available tag: 6",
   "properties": {
    "endpoints": {
     "type": "array",
     "description": "The endpoints contained in this response.",
     "items": {
      "$ref": "Endpoint"
     }
    },
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results."
    }
   }
  },
  "Operation": {
   "id": "Operation",
   "type": "object",
   "description": "An Operation resource, used to manage asynchronous API requests.",
   "properties": {
    "clientOperationId": {
     "type": "string",
     "description": "[Output Only] Reserved for future use."
    },
    "creationTimestamp": {
     "type": "string",
     "description": "[Output Only] Creation timestamp in RFC3339 text format."
    },
    "description": {
     "type": "string",
     "description": "[Output Only] A textual description of the operation, which is set when the operation is created."
    },
    "endTime": {
     "type": "string",
     "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format."
    },
    "error": {
     "type": "object",
     "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
     "properties": {
      "errors": {
       "type": "array",
       "description": "[Output Only] The array of errors encountered while processing this operation.",
       "items": {
        "type": "object",
        "properties": {
         "code": {
          "type": "string",
          "description": "[Output Only] The error type identifier for this error."
         },
         "location": {
          "type": "string",
          "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
         },
         "message": {
          "type": "string",
          "description": "[Output Only] An optional, human-readable error message."
         }
        }
       }
      }
     }
    },
    "httpErrorMessage": {
     "type": "string",
     "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND."
    },
    "httpErrorStatusCode": {
     "type": "integer",
     "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.",
     "format": "int32"
    },
    "id": {
     "type": "string",
     "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
     "format": "uint64"
    },
    "insertTime": {
     "type": "string",
     "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format."
    },
    "kind": {
     "type": "string",
     "description": "[Output Only] Type of the resource. Always compute#operation for operation resources.",
     "default": "serviceregistry#operation"
    },
    "name": {
     "type": "string",
     "description": "[Output Only] Name of the resource."
    },
    "operationType": {
     "type": "string",
     "description": "[Output Only] The type of operation, such as insert, update, or delete, and so on."
    },
    "progress": {
     "type": "integer",
     "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
     "format": "int32"
    },
    "region": {
     "type": "string",
     "description": "[Output Only] The URL of the region where the operation resides. Only available when performing regional operations."
    },
    "selfLink": {
     "type": "string",
     "description": "[Output Only] Server-defined URL for the resource."
    },
    "startTime": {
     "type": "string",
     "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format."
    },
    "status": {
     "type": "string",
     "description": "[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE."
    },
    "statusMessage": {
     "type": "string",
     "description": "[Output Only] An optional textual description of the current status of the operation."
    },
    "targetId": {
     "type": "string",
     "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.",
     "format": "uint64"
    },
    "targetLink": {
     "type": "string",
     "description": "[Output Only] The URL of the resource that the operation modifies."
    },
    "user": {
     "type": "string",
     "description": "[Output Only] User who requested the operation, for example: user@example.com."
    },
    "warnings": {
     "type": "array",
     "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
     "items": {
      "type": "object",
      "properties": {
       "code": {
        "type": "string",
        "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
       },
       "data": {
        "type": "array",
        "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
        "items": {
         "type": "object",
         "properties": {
          "key": {
           "type": "string",
           "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
          },
          "value": {
           "type": "string",
           "description": "[Output Only] A warning data value corresponding to the key."
          }
         }
        }
       },
       "message": {
        "type": "string",
        "description": "[Output Only] A human-readable description of the warning code."
       }
      }
     }
    },
    "zone": {
     "type": "string",
     "description": "[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations."
    }
   }
  },
  "OperationsListResponse": {
   "id": "OperationsListResponse",
   "type": "object",
   "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
   "properties": {
    "nextPageToken": {
     "type": "string",
     "description": "[Output Only] A token used to continue a truncated list request."
    },
    "operations": {
     "type": "array",
     "description": "[Output Only] Operations contained in this list response.",
     "items": {
      "$ref": "Operation"
     }
    }
   }
  }
 },
 "resources": {
  "endpoints": {
   "methods": {
    "delete": {
     "id": "serviceregistry.endpoints.delete",
     "path": "{project}/global/endpoints/{endpoint}",
     "httpMethod": "DELETE",
     "description": "Deletes an endpoint.",
     "parameters": {
      "endpoint": {
       "type": "string",
       "description": "The name of the endpoint for this request.",
       "required": true,
       "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
       "location": "path"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "endpoint"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/ndev.cloudman"
     ]
    },
    "get": {
     "id": "serviceregistry.endpoints.get",
     "path": "{project}/global/endpoints/{endpoint}",
     "httpMethod": "GET",
     "description": "Gets an endpoint.",
     "parameters": {
      "endpoint": {
       "type": "string",
       "description": "The name of the endpoint for this request.",
       "required": true,
       "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
       "location": "path"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "endpoint"
     ],
     "response": {
      "$ref": "Endpoint"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "insert": {
     "id": "serviceregistry.endpoints.insert",
     "path": "{project}/global/endpoints",
     "httpMethod": "POST",
     "description": "Creates an endpoint.",
     "parameters": {
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project"
     ],
     "request": {
      "$ref": "Endpoint"
     },
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/ndev.cloudman"
     ]
    },
    "list": {
     "id": "serviceregistry.endpoints.list",
     "path": "{project}/global/endpoints",
     "httpMethod": "GET",
     "description": "Lists endpoints for a project.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "orderBy": {
       "type": "string",
       "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project"
     ],
     "response": {
      "$ref": "EndpointsListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform"
     ]
    },
    "patch": {
     "id": "serviceregistry.endpoints.patch",
     "path": "{project}/global/endpoints/{endpoint}",
     "httpMethod": "PATCH",
     "description": "Updates an endpoint. This method supports patch semantics.",
     "parameters": {
      "endpoint": {
       "type": "string",
       "description": "The name of the endpoint for this request.",
       "required": true,
       "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
       "location": "path"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "endpoint"
     ],
     "request": {
      "$ref": "Endpoint"
     },
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/ndev.cloudman"
     ]
    },
    "update": {
     "id": "serviceregistry.endpoints.update",
     "path": "{project}/global/endpoints/{endpoint}",
     "httpMethod": "PUT",
     "description": "Updates an endpoint.",
     "parameters": {
      "endpoint": {
       "type": "string",
       "description": "The name of the endpoint for this request.",
       "required": true,
       "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
       "location": "path"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "endpoint"
     ],
     "request": {
      "$ref": "Endpoint"
     },
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/ndev.cloudman"
     ]
    }
   }
  },
  "operations": {
   "methods": {
    "get": {
     "id": "serviceregistry.operations.get",
     "path": "{project}/global/operations/{operation}",
     "httpMethod": "GET",
     "description": "Gets information about a specific operation.",
     "parameters": {
      "operation": {
       "type": "string",
       "description": "The name of the operation for this request.",
       "required": true,
       "location": "path"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project",
      "operation"
     ],
     "response": {
      "$ref": "Operation"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/ndev.cloudman",
      "https://www.googleapis.com/auth/ndev.cloudman.readonly"
     ]
    },
    "list": {
     "id": "serviceregistry.operations.list",
     "path": "{project}/global/operations",
     "httpMethod": "GET",
     "description": "Lists all operations for a project.",
     "parameters": {
      "filter": {
       "type": "string",
       "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
       "location": "query"
      },
      "maxResults": {
       "type": "integer",
       "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
       "default": "500",
       "format": "uint32",
       "minimum": "0",
       "maximum": "500",
       "location": "query"
      },
      "orderBy": {
       "type": "string",
       "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.",
       "location": "query"
      },
      "pageToken": {
       "type": "string",
       "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
       "location": "query"
      },
      "project": {
       "type": "string",
       "description": "The project ID for this request.",
       "required": true,
       "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
       "location": "path"
      }
     },
     "parameterOrder": [
      "project"
     ],
     "response": {
      "$ref": "OperationsListResponse"
     },
     "scopes": [
      "https://www.googleapis.com/auth/cloud-platform",
      "https://www.googleapis.com/auth/cloud-platform.read-only",
      "https://www.googleapis.com/auth/ndev.cloudman",
      "https://www.googleapis.com/auth/ndev.cloudman.readonly"
     ]
    }
   }
  }
 }
}
