<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img src="./assets/images/traefik.logo.svg" alt="Traefik" class="navbar-logo">
        </a>
      </div>
      <div class="navbar-start">
        <div class="navbar-menu">
          <a class="navbar-item" routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
            Providers
          </a>
          <a class="navbar-item" routerLink="/status" routerLinkActive="is-active">
            Health
          </a>
        </div>
      </div>
      <div class="navbar-end is-hidden-mobile">
        <a class="navbar-item" [href]="releaseLink" target="_blank">
          {{ version }} / {{ codename }}
        </a>
        <a class="navbar-item" href="https://docs.traefik.io" target="_blank">
          Documentation
        </a>
      </div>
    </div>
  </div>
</nav>
