<!DOCTYPE html>
<html>
<head>
    <title>træfik</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {padding-bottom: 70px;}
        .content {margin:10px;}
    </style>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/html/">træfik</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/html/">Configuration</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="panel-default col-md-6">
            <div class="panel-heading">Backends</div>
            <div class="panel-body">
                {{range $keyBackends, $valueBackends := .Configuration.Backends}}
                <div class="panel panel-primary" id="{{$keyBackends}}">
                    <div class="panel-heading">{{$keyBackends}}</div>
                    <table class="table table-striped table-hover">
                        <tr>
                            <td><em>Server</em></td>
                            <td><em>URL</em></td>
                        </tr>
                        {{range $keyServers, $valueServers := $valueBackends.Servers}}
                        <tr>
                            <td>{{$keyServers}}</td>
                            <td><code>{{$valueServers.Url}}</code></td>
                        </tr>
                        {{end}}
                    </table>
                </div>
                {{end}}
            </div>
        </div>

        <div class="panel-default col-md-6">
            <div class="panel-heading">Routes</div>
            <div class="panel-body">
                {{range $keyRoutes, $valueRoutes := .Configuration.Routes}}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{$keyRoutes}}</div>
                    <div class="panel-body">
                        <!--<button type="button" class="btn btn-info">{{$valueRoutes.Backend}}</button>-->
                        <a class="btn btn-info" role="button" data-toggle="collapse" href="#{{$valueRoutes.Backend}}" aria-expanded="false">
                            {{$valueRoutes.Backend}}
                        </a>
                    </div>
                    <table class="table table-striped table-hover">
                        <tr>
                            <td><em>Rule</em></td>
                            <td><em>Category</em></td>
                            <td><em>Value</em></td>
                        </tr>
                        {{range $keyRules, $valueRules := $valueRoutes.Rules}}
                        <tr>
                            <td>{{$keyRules}}</td>
                            <td>{{$valueRules.Category}}</td>
                            <td>{{$valueRules.Value}}</td>
                        </tr>
                        {{end}}
                    </table>
                </div>
                {{end}}
            </div>
        </div>

    </div>
</div>

</body>
</html>