{{$apps := .Applications}}
[backends]{{range .Tasks}}
    [backends.backend{{with index $apps 0 }}{{getBackend .}}{{end}}.servers.server-{{.ID | replace "." "-"}}]
    url = "{{getProtocol . $apps}}://{{.Host}}:{{getPort . $apps}}"
    weight = {{getWeight . $apps}}
{{end}}

[frontends]{{range .Applications}}
  [frontends.frontend{{.ID | replace "/" "-"}}]
  backend = "backend{{getBackend .}}"
  passHostHeader = {{getPassHostHeader .}}
    [frontends.frontend{{.ID | replace "/" "-"}}.routes.route-host{{.ID | replace "/" "-"}}]
    rule = "{{getFrontendRule .}}"
    value = "{{getFrontendValue .}}"
{{end}}
