{{ $apps := .Applications }}

[backends]
{{range $task := .Tasks }}
  {{ $backendName := getBackend $task $apps }}

    [backends.backend-{{ $backendName }}.servers.server-{{ getID $task }}]
      url = "{{ getProtocol $task $apps }}://{{ getHost $task }}:{{ getPort $task $apps }}"
      weight = {{ getWeight $task $apps }}

{{end}}

[frontends]
{{range $app := $apps }}
  {{ $frontendName := getFrontEndName $app }}

  [frontends.frontend-{{ $frontendName }}]
    backend = "backend-{{ getFrontendBackend $app }}"
    priority = {{ getPriority $app }}
    passHostHeader = {{ getPassHostHeader $app }}

    entryPoints = [{{range getEntryPoints $app }}
      "{{.}}",
      {{end}}]

    [frontends.frontend-{{ $frontendName }}.routes.route-host-{{ $frontendName }}]
      rule = "{{ getFrontendRule $app }}"

{{end}}
