[frontends]{{range $service := .Services}}
  {{if doesAppParamContain $service.Application "TraefikPublish" $service.Name}}
    {{if eq $service.ServiceKind "Stateless"}}
    
    [frontends."{{$service.Name}}"]
    backend = "{{$service.Name}}"
      [frontends."{{$service.Name}}".routes.default]
      rule = "PathPrefixStrip: /{{$service.ID}}"
    
    {{else if eq $service.ServiceKind "Stateful"}}
      {{range $partition := $service.Partitions}}
        {{$partitionId := $partition.PartitionInformation.ID}}

        [frontends."{{$service.Name}}/{{$partitionId}}"]
        backend = "{{$service.Name}}/{{$partitionId}}"
        [frontends."{{$service.Name}}/{{$partitionId}}".routes.default]
        rule = "PathPrefixStrip: /{{$service.ID}}/{{$partitionId}}"

      {{end}}
    {{end}}
  {{end}}
{{end}}

[backends]{{range $service := .Services}}
    {{range $partition := $service.Partitions}}
      {{if eq $partition.ServiceKind "Stateless"}}
        [backends."{{$service.Name}}".LoadBalancer]
        method = "drr"
            
        [backends."{{$service.Name}}".circuitbreaker]
        expression = "NetworkErrorRatio() > 0.5"

        {{range $instance := $partition.Instances}}
          {{if and (isHealthy $instance) (hasHTTPEndpoint $instance)}}
            
            [backends."{{$service.Name}}".servers."{{$instance.ID}}"]
            url = "{{getDefaultEndpoint $instance}}"
            weight = 1

          {{end}}
        {{end}}
      {{else if eq $partition.ServiceKind "Stateful"}}
        {{range $replica := $partition.Replicas}}
          {{if and (isPrimary $replica) (isHealthy $replica) (hasHTTPEndpoint $replica)}}
          
            {{$backendName := (print $service.Name $partition.PartitionInformation.ID)}}
            [backends."{{$backendName}}".servers."{{$replica.ID}}"]
            url = "{{getDefaultEndpoint $replica}}"
            weight = 1

            [backends."{{$backendName}}".LoadBalancer]
            method = "drr"
                
            [backends."{{$backendName}}".circuitbreaker]
            expression = "NetworkErrorRatio() > 0.5"
          
          {{end}}    
        {{end}}
      {{end}}
    {{end}}
{{end}}

