.product-switcher {
  font-size: 10px;
  font-family: 'Rubik', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'Helvetica Neue', sans-serif;
  color: #06102a;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.product-switcher img {
  margin-right: 10px;
}
