// App
$screen-xs-min: 600px;
$screen-sm-min: 1024px;
$screen-md-min: 1440px;
$screen-lg-min: 1920px;

$app-bg: #f2f3f5;
$app-bg-dark: #1A1A1A;
$app-text-dark: #fafafa;
$app-text-caption-dark: rgba(255,255,255,0.7);

// Custom colors
$app-text-white: #ffffff;
$app-text-grey: #737373;
$app-text-purple: #9d0fb0;
$app-text-green: #24a1c1;
$app-text-green-2: #06a21d;
$app-text-marine: #06102a;

// Quasar
$primary: #06102a;
$secondary: #2A2A2B;
$accent: #1e54d5;

$positive: #00a697;
$negative: #ff0039;
$info: #31CCEC;
$warning: #db7d11;

$separator-color: rgba(0, 0, 0, .12);
$separator-dark-color: rgba(255, 255, 255, .28);
