<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="/images/traefik.icon.png" alt="Traefik" class="navbar-logo">
      </a>
    </div>
    <div class="navbar-menu is-active">
      <a class="navbar-item" routerLink="/" routerLinkActive="is-active">
        Providers
      </a>
      <a class="navbar-item" routerLink="/status" routerLinkActive="is-active">
        Health
      </a>
    </div>
  </div>
</nav>
