site_name: Traefik
site_description: Traefik Documentation
site_author: traefik.io
site_url: https://doc.traefik.io/traefik
dev_addr: 0.0.0.0:8000

repo_name: 'GitHub'
repo_url: 'https://github.com/traefik/traefik'

docs_dir: 'content'

# https://squidfunk.github.io/mkdocs-material/
theme:
  name: 'material'
  custom_dir: 'theme'
  language: en
  include_sidebar: true
  favicon: assets/img/traefikproxy-icon-color.png
  logo: assets/img/traefikproxy-vertical-logo-color.svg
  feature:
    tabs: false
  palette:
    primary: 'cyan'
    accent: 'cyan'
  i18n:
    prev: 'Previous'
    next: 'Next'

copyright: "Copyright &copy; 2016-2020 Containous; 2020 Traefik Labs"

extra_css:
  - assets/styles/root.css
  - assets/styles/header.css
  - assets/styles/footer.css
  - assets/styles/menu.css
  - assets/styles/content.css
  - assets/styles/product-switcher.css
  - assets/styles/atom-one-light.css # HightlightJS's CSS theme

extra_javascript:
  - assets/js/hljs/highlight.pack.js # Download from https://highlightjs.org/download/ and enable YAML, TOML and Dockerfile
  - assets/js/extra.js

plugins:
  - search
  - exclude:
      glob:
        - "**/include-*.md"

# https://squidfunk.github.io/mkdocs-material/extensions/admonition/
# https://facelessuser.github.io/pymdown-extensions/
markdown_extensions:
  - attr_list
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      use_pygments: false # hljs is used instead of pygment for TOML highlighting support
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.snippets:
      check_paths: true
#  - markdown_include.include:
#      base_path: content/includes/
#      encoding: utf-8
  - toc:
      permalink: true

# Page tree
nav:
  - 'Welcome': 'index.md'
  - 'Getting Started':
      - 'Concepts' : 'getting-started/concepts.md'
      - 'Quick Start': 'getting-started/quick-start.md'
      - 'Configuration Introduction': 'getting-started/configuration-overview.md'
      - 'Install Traefik': 'getting-started/install-traefik.md'
  - 'Configuration Discovery':
      - 'Overview': 'providers/overview.md'
      - 'Docker': 'providers/docker.md'
      - 'Kubernetes IngressRoute': 'providers/kubernetes-crd.md'
      - 'Kubernetes Ingress': 'providers/kubernetes-ingress.md'
      - 'Consul Catalog': 'providers/consul-catalog.md'
      - 'ECS': 'providers/ecs.md'
      - 'Marathon': 'providers/marathon.md'
      - 'Rancher': 'providers/rancher.md'
      - 'File': 'providers/file.md'
      - 'Consul': 'providers/consul.md'
      - 'Etcd': 'providers/etcd.md'
      - 'ZooKeeper': 'providers/zookeeper.md'
      - 'Redis': 'providers/redis.md'
      - 'HTTP': 'providers/http.md'
  - 'Routing & Load Balancing':
      - 'Overview': 'routing/overview.md'
      - 'EntryPoints': 'routing/entrypoints.md'
      - 'Routers': 'routing/routers/index.md'
      - 'Services': 'routing/services/index.md'
      - 'Providers':
          - 'Docker': 'routing/providers/docker.md'
          - 'Kubernetes IngressRoute': 'routing/providers/kubernetes-crd.md'
          - 'Kubernetes Ingress': 'routing/providers/kubernetes-ingress.md'
          - 'Consul Catalog': 'routing/providers/consul-catalog.md'
          - 'ECS': 'routing/providers/ecs.md'
          - 'Marathon': 'routing/providers/marathon.md'
          - 'Rancher': 'routing/providers/rancher.md'
          - 'KV': 'routing/providers/kv.md'
  - 'HTTPS & TLS':
      - 'Overview': 'https/overview.md'
      - 'TLS': 'https/tls.md'
      - 'Let''s Encrypt': 'https/acme.md'
  - 'Middlewares':
      - 'Overview': 'middlewares/overview.md'
      - 'AddPrefix': 'middlewares/addprefix.md'
      - 'BasicAuth': 'middlewares/basicauth.md'
      - 'Buffering': 'middlewares/buffering.md'
      - 'Chain': 'middlewares/chain.md'
      - 'CircuitBreaker': 'middlewares/circuitbreaker.md'
      - 'Compress': 'middlewares/compress.md'
      - 'ContentType': 'middlewares/contenttype.md'
      - 'DigestAuth': 'middlewares/digestauth.md'
      - 'Errors': 'middlewares/errorpages.md'
      - 'ForwardAuth': 'middlewares/forwardauth.md'
      - 'Headers': 'middlewares/headers.md'
      - 'IpWhitelist': 'middlewares/ipwhitelist.md'
      - 'InFlightReq': 'middlewares/inflightreq.md'
      - 'PassTLSClientCert': 'middlewares/passtlsclientcert.md'
      - 'RateLimit': 'middlewares/ratelimit.md'
      - 'RedirectRegex': 'middlewares/redirectregex.md'
      - 'RedirectScheme': 'middlewares/redirectscheme.md'
      - 'ReplacePath': 'middlewares/replacepath.md'
      - 'ReplacePathRegex': 'middlewares/replacepathregex.md'
      - 'Retry': 'middlewares/retry.md'
      - 'StripPrefix': 'middlewares/stripprefix.md'
      - 'StripPrefixRegex': 'middlewares/stripprefixregex.md'
  - 'Plugins & Traefik Pilot':
      - 'Overview': 'plugins/overview.md'
      - 'Using Plugins': 'plugins/using-plugins.md'
  - 'Operations':
      - 'CLI': 'operations/cli.md'
      - 'Dashboard' : 'operations/dashboard.md'
      - 'API': 'operations/api.md'
      - 'Ping': 'operations/ping.md'
  - 'Observability':
      - 'Logs': 'observability/logs.md'
      - 'Access Logs': 'observability/access-logs.md'
      - 'Metrics':
          - 'Overview': 'observability/metrics/overview.md'
          - 'Datadog': 'observability/metrics/datadog.md'
          - 'InfluxDB': 'observability/metrics/influxdb.md'
          - 'Prometheus': 'observability/metrics/prometheus.md'
          - 'StatsD': 'observability/metrics/statsd.md'
      - 'Tracing':
          - 'Overview': 'observability/tracing/overview.md'
          - 'Jaeger': 'observability/tracing/jaeger.md'
          - 'Zipkin': 'observability/tracing/zipkin.md'
          - 'Datadog': 'observability/tracing/datadog.md'
          - 'Instana': 'observability/tracing/instana.md'
          - 'Haystack': 'observability/tracing/haystack.md'
          - 'Elastic': 'observability/tracing/elastic.md'
  - 'User Guides':
      - 'Kubernetes and Let''s Encrypt': 'user-guides/crd-acme/index.md'
      - 'gRPC Examples': 'user-guides/grpc.md'
      - 'Marathon': 'user-guides/marathon.md'
      - 'Docker':
        - 'Basic Example': 'user-guides/docker-compose/basic-example/index.md'
        - 'HTTPS with Let''s Encrypt':
          - 'TLS Challenge': 'user-guides/docker-compose/acme-tls/index.md'
          - 'HTTP Challenge': 'user-guides/docker-compose/acme-http/index.md'
          - 'DNS Challenge': 'user-guides/docker-compose/acme-dns/index.md'
  - 'Migration':
      - 'Traefik v2 minor migrations': 'migration/v2.md'
      - 'Traefik v1 to v2': 'migration/v1-to-v2.md'
  - 'Contributing':
      - 'Thank You!': 'contributing/thank-you.md'
      - 'Submitting Issues': 'contributing/submitting-issues.md'
      - 'Submitting PRs': 'contributing/submitting-pull-requests.md'
      - 'Security': 'contributing/submitting-security-issues.md'
      - 'Building and Testing': 'contributing/building-testing.md'
      - 'Documentation': 'contributing/documentation.md'
      - 'Data Collection': 'contributing/data-collection.md'
      - 'Advocating': 'contributing/advocating.md'
      - 'Maintainers': 'contributing/maintainers.md'
#  - 'Glossary': 'glossary.md'
  - 'References':
      - 'Static Configuration':
          - 'Overview': 'reference/static-configuration/overview.md'
          - 'File': 'reference/static-configuration/file.md'
          - 'CLI': 'reference/static-configuration/cli.md'
          - 'Environment variables': 'reference/static-configuration/env.md'
      - 'Dynamic Configuration':
        - 'File': 'reference/dynamic-configuration/file.md'
        - 'Docker': 'reference/dynamic-configuration/docker.md'
        - 'Kubernetes CRD': 'reference/dynamic-configuration/kubernetes-crd.md'
        - 'Consul Catalog': 'reference/dynamic-configuration/consul-catalog.md'
        - 'Marathon': 'reference/dynamic-configuration/marathon.md'
        - 'Rancher': 'reference/dynamic-configuration/rancher.md'
        - 'KV': 'reference/dynamic-configuration/kv.md'
