markdown-include==0.8.1
mkdocs==1.6.1
mkdocs-exclude==1.0.2
mkdocs-traefiklabs>=100.0.23
mkdocs-redirects==1.2.2

click==8.3.1
colorama==0.4.6
ghp-import==2.1.0
importlib_metadata==8.7.0
Jinja2==3.1.6
Markdown==3.10
MarkupSafe==3.0.3
mergedeep==1.3.4
mkdocs-material-extensions==1.3.1
packaging==25.0
Pygments==2.19.2
pymdown-extensions==10.17.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
six==1.17.0
watchdog==6.0.0
zipp==3.23.0
