.line-chart
  width: 100%
  height: 320px

  .legend
    font-size: 12px
    
    text
      fill: $text

  svg
    display: block
    margin: 10px auto

    .line
      fill: none
      stroke: #00AAFF
      stroke-width: 1.5px

  .axis
    font-family: $open-sans

    path, line
      fill: none
      stroke: #000
      shape-rendering: crispEdges

    .domain
      stroke: transparent

    .tick

      line
        stroke: transparent

      text
        fill: $text

    &.axis--y

      .tick

        line
          stroke: #DFE2E5
          stroke-width: 1