.navbar
  background: $white
  border-bottom: 1px solid $border

  .navbar-item
    font-size: 13px
    text-transform: uppercase
    font-weight: $weight-light
        
    &:hover
      background: transparent