<div class="container">
  <div class="content">
    <div class="columns is-multiline">

      <div class="column is-12">
        <div class="content-item">
          <div class="content-item-data">
            <div class="columns">
              <div class="column is-4">
                <div class="item-data border-right">
                  <span class="data-blue">{{ totalResponseTime }}</span>
                  <span class="data-grey">Total Response Time</span>
                </div>
              </div>
              <div class="column is-4">
                <div class="item-data border-right">
                  <span class="data-blue">{{ totalCodeCount }}</span>
                  <span class="data-grey">Total Code Count</span>
                </div>
              </div>
              <div class="column is-4">
                <div class="item-data">
                  <span class="data-blue">{{ uptime }}</span>
                  <span class="data-grey">Uptime Since <br/>{{ uptimeSince }}</span>
                </div>
              </div>
            </div>
          </div>

          <line-chart [value]="chartValue"></line-chart>
        </div>
      </div>

    </div>
  </div>
</div>
