name: Check Documentation

on:
  pull_request:
    branches:
      - '*'

jobs:

  docs:
    name: Check, verify and build documentation
    runs-on: ubuntu-20.04

    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check documentation
        run: make docs-pull-images docs
